# Backend Environment Variables
PORT=4000
NODE_ENV=development

# Groq API (llama-3.3-70b-versatile)
GROQ_API_KEY=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

# Supabase
SUPABASE_URL=https://nsbtmnzxpcngqkvhebmw.supabase.co
SUPABASE_SERVICE_KEY=sb_secret_CMzBoNZGgXln9L88xv9jAw_kIZ3NMvY

# OpenWeather
OPENWEATHER_API_KEY=400d785b0c04675332bddc6b73a1c096

# NASA FIRMS
NASA_FIRMS_API_KEY=d1926d8300e062a2b0be8dd3f2d8ea18

# Python ML Service
ML_SERVICE_URL=http://localhost:8000

# Frontend Dashboard URL (for CORS)
DASHBOARD_URL=http://localhost:3000
